<div class="dropdown_menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="about" class="mainbar">About</a></li>
        <li><a href="auction" class="mainbar">Auction</a></li>
        <li><a href="collection" class="mainbar">Collection</a></li>
        <li><a href="sell" class="mainbar">Sell Your Car</a></li>
        <li><a href="reg-log" class="action_btn">Get Started</a></li>
    </ul>
</div>