<!-- addCar.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik+Mono+One&display=swap" rel="stylesheet">
        <title>Add blog</title>
    </head>
<body>
    <header>
        <%- include('./partials/nav.ejs', { loggedIn: loggedIn }) %>
    </header>
    <h1 class="h1Add">Add Blog</h1>
    <% if (loggedIn && userId === '661851d28546736546d73758') { %>
        <form action="/blogs" method="POST" enctype="multipart/form-data" class="add-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="dateOfAdding">Date:</label>
        <input type="datetime-local" id="dateOfAdding" name="dateOfAdding" required><br>

        <label for="images">Images:</label>
        <input type="file" id="images" name="images" accept="image/*" multiple required><br>

        <label for="text1">Text:</label>
        <input type="text" id="text1" name="text1" required><br>
        
        <label for="text2">Text:</label>
        <input type="text" id="text2" name="text2" required><br>
    
        <label for="text3">Text:</label>
        <input type="text" id="text3" name="text3" required><br>

        <label for="text4">Text:</label>
        <input type="text" id="text4" name="text4" required><br>

        <button type="submit">Add Blog</button>
    </form>
    <% } else { %>
    <p>You are not authorized to add blogs.</p>
    <% } %>
</body>
<footer>
    <%- include('./partials/footer.ejs') %>
</footer>
</html>