<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="bodyConfirmation">
    <div class="container_sign">
            <h2 class="register_valid" id="register_valid">Registration Successful!</h2>
            <p>Welcome to the elite community of luxury car enthusiasts at our prestigious auction house. Your registration is complete, and you're now primed to indulge in the world of exquisite automobiles.</p>
            <p>Prepare to embark on a journey where timeless elegance meets unparalleled performance. Stay tuned for exclusive auction events, rare vehicle showcases, and insider updates from the realm of automotive opulence.</p>
            <button id="moveToLogin">Click to Login</button>
    </div>
    <script>
        document.getElementById("moveToLogin").addEventListener("click", function() {
            window.location.href = "/reg-log";
        });
    </script>
</body>
</html>